{% extends 'admin.twig' %}

{% set title %}{{ 'Courier_AddCourierEndpoint'|translate }}{% endset %}

{% block content %}
    {% import 'macros.twig' as piwik %}
    {% import 'ajaxMacros.twig' as ajax %}
    <div piwik-content-intro>
        <h2 piwik-enriched-headline
            help-url="https://github.com/digitalist-se/Courier/wiki"
            id="location-providers">{{ title }}</h2>
    </div>
    <div piwik-content-block>

        <form action="" method="post" ng-non-bindable>

        {% if integration == 'webhook' %}
            <label for="endpoint">Endpoint URL</label>
            <input type="text" size="30" id="endpoint" name="endpoint" placeholder="https://webhook.url" />
            <input type="submit" class="submit btn btn-lg" id='submitEndpoint' value="{{ 'General_Save'|translate }}"/>
        {% else %}
            Sorry, this integration is not supported yet.
        {% endif %}
        </form>

    </div>
{% endblock %}
