{% extends 'admin.twig' %}

{% set title %}{{ 'Courier_AddCourierIntegration'|translate }}{% endset %}

{% block content %}
    {% import 'macros.twig' as piwik %}
    {% import 'ajaxMacros.twig' as ajax %}
    <div piwik-content-intro>
        <h2 piwik-enriched-headline
            help-url="https://github.com/digitalist-se/Courier/wiki"
            id="location-providers">{{ title }}</h2>
    </div>
    <div piwik-content-block>

        <form action="" method="post" ng-non-bindable>

        {% if integration == 'webhook' %}
            <label for="name">Name</label>
            <input type="text" size="30" id="name" name="name" placeholder="Name of integration" />
            <label for="endpoint">URL</label>
            <input type="text" size="30" id="endpoint" name="url" placeholder="https://webhook.url" />

            <div piwik-field uicontrol="textarea" name="description"
                 data-title="Description"
                 inline-help="This is a textarea. It automatically gets larger the more text is entered.">
            </div>

            <input type="submit" class="submit btn btn-lg" id='submitEndpoint' value="{{ 'General_Save'|translate }}"/>
        {% else %}
            Sorry, this integration is not supported yet.
        {% endif %}
        </form>

    </div>
{% endblock %}
